<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="CS458 DApp Final Project" content="Jonathan Guzman, Jaime Munoz, Nik Torraca, Ojaswi Sinha ">
    <title>Flip Your Life</title>
    <link rel="stylesheet" href="coinStyle.css">
</head>
<body>
    <div class = "rules">
        <h3 id = "intro">CSU ram logo represents heads and the horn logo represents tails. Best of 3 wins.</h3>
    </div>
    <div class = "nowBet">
        <h1 id = "life">Now Place Your Bet!</h1>
    </div>
    <div class="container">
        <div class="stats">
            <p id="heads-count">Heads: 0</p>
            <p id="tails-count">Tails: 0</p>
        </div>
        <div class="winner-text">
            <p id="winner"></p>
        </div>
        <div class="coin" id="coin">
            <div class="heads">
                <img src="RamsHeads.svg">
            </div>
            <div class="tails"><img src="RamsTails.svg">
            </div>
        </div>
        <div class="buttons">
            <button id="flip-button">Flip Coin</button>
            <button id="reset-button">Reset</button>
        </div>
    </div>
    <div class="containerBox">
        <input type="number" id="Bet" name="Bet" onclick="formdata()" placeholder="Place a number >= 1">
        <input type="checkbox" id="checkboxHeads" name="checkboxHeads">
        <label for="checkboxHeads">Heads</label><br>
        <input type="checkbox" id="checkboxTails" name="checkboxTails">
        <label for="checkboxTails">Tails</label><br>
        <button id="bet-button">Bet</button>
    </div>
    <!--Script-->
    <script src="CoinFlip.js"></script>
</body>
</html>
